.card {
  width: 150px;
  height: 200px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
    &:hover{
        box-shadow: 0 0 5px;
        transform: scale(1.1) translateY(-10px);
    }
  .title {
    color: pink;
  }
}
.card img {
  width: 140px;
  height: 130px;
  border-radius: 10px;
}
